.heading1 {
  font-size: 25px;
}
* {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(228, 227, 227);
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
}
.border {
  border: 5px solid black;
}

.online {
  text-transform: uppercase;
  color: rgb(83, 82, 82);
  font-weight: bold;
  font-size: 12px;
}

a:link {
  color: #0d0d0e;
}

a:hover {
  text-decoration: none;
}
button {
  text-transform: uppercase;
  font-size: 20px;
  background-color: #000000;
  color: white;
  border: none;
  margin: 0%;
}
button:hover {
  color: black;
  background-color: white;
}
.bullet-remove {
  list-style: square;
}
