* {
  margin: 0;
  padding: 0;
}
h1 p {
  padding: 20px;
}
.heading1 {
  font-size: 25px;
  display: inline-block;
  /* margin-top: 20px;  */
  margin-bottom: 5px;
}
article a {
  display: inline-block;
  margin-bottom: 30px;
}
.space {
  margin-bottom: 15px;
}
* {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(228, 227, 227);
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.border {
  border: 5px solid black;
}
.resize {
  width: 250px;
}
.online {
  text-transform: uppercase;
  color: rgb(83, 82, 82);
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 20px;
}

a:link {
  color: #0d0d0e;
}

a:hover {
  text-decoration: none;
}
li {
  margin-bottom: 10px;
  margin-left: 25px;
}

button {
  text-transform: uppercase;
  font-size: 20px;
  background-color: #000000;
  color: white;
  border: none;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  border-top: 5px solid black;
}
button:hover {
  color: black;
  background-color: white;
}
.bullet-remove {
  list-style: square;
}
.all-elements {
  width: 825px;
  margin: 0 auto;
}
